# SPDX-FileCopyrightText: © 2024 RepRep's DMP Template Authors <https://github.com/reproducible-reporting/dmp-template/blob/main/AUTHORS.md>
# SPDX-License-Identifier: CC-BY-NC-SA-4.0

*.png
*.pdf
venv
.stepup
.envrc
dmp.*
dmp_template.typ
__pycache__
generated.yaml
.DS_Store
